@model MyPass.Models.ViewModels.Vault.CreditCardViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Credit Card";
    Layout = "_Layout";   
}
<h2>Add Credit Card</h2>

<form asp-action="CreateCreditCard" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="CardHolder"></label>
        <input asp-for="CardHolder" class="form-control" />
        <span asp-validation-for="CardHolder" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CardNumber"></label>
        <input asp-for="CardNumber" class="form-control" />
        <span asp-validation-for="CardNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CVV"></label>
        <input asp-for="CVV" class="form-control" />
        <span asp-validation-for="CVV" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ExpMonth"></label>
        <input asp-for="ExpMonth" class="form-control" />
        <span asp-validation-for="ExpMonth" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ExpYear"></label>
        <input asp-for="ExpYear" class="form-control" />
        <span asp-validation-for="ExpYear" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Save</button>
</form>

